[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hklabasa
[access "refs/for/refs/*"]
	read = group user/hklabasa
	push = group user/hklabasa
	label-Code-Review = -2..+2 group user/hklabasa
	label-Verified = -1..+1 group user/hklabasa
	rebase = group user/hklabasa
	removeReviewer = group user/hklabasa
	submit = group user/hklabasa
[access "refs/heads/*"]
	read = group user/hklabasa
	create = group user/hklabasa
	push = +force group user/hklabasa
	pushMerge = group user/hklabasa
[access "refs/tags/*"]
	push = +force group user/hklabasa
	pushTag = group user/hklabasa
	pushSignedTag = group user/hklabasa
